@use "sass:color";
@use "tools/variables" as * with (
  $primary-color: #a9ce39,
  $navbar-height:   150px
);

$radius-width: $gutter-md;
$heading-overlay-bg:    color.scale($black, $alpha: -30%);
$overlay-bg:    color.scale($black, $alpha: -30%);

// Basic
@use "reboot";
@use "grid";
@use "classes";

// Components
@use "components/nav" with (
  $nav-active-color: $primary-color,
  $nav-link-padding: $gutter-sm $gutter-base
);
@use "components/navbar" with (
  $navbar-padding: $gutter-base
);
@use "components/carousel" with (
  $carousel-height: 500px
);
@use "components/breadcrumb";
@use "components/icons";
@use "components/buttons";
@use "components/card";
@use "components/modal";
@use "components/form";


// Layout
@use "layout/footer" with (
  $footer-color: color.scale($light-color, $lightness: -10%),
);
@use "layout/pages";
@use "keyframes";