@use "../tools" as *;
// btn => [btn-primary | btn-secondary | btn-light] => btn-outline

  // Button Variables
  $btn-font-size:     $font-size-sm !default;
  $btn-font-weight:   bolder !default;
  $btn-padding:       $gutter-sm $gutter-md !default;
  $btn-raduis:        $radius-width !default;
  $btn-border-width:  $border-width !default;

.btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: $btn-padding;
    border-radius: $btn-raduis;
    border: $btn-border-width solid transparent;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    white-space: nowrap;
    color: $white;
    transform: perspective(1px) translateZ(0px);
    @include transition;
    &::before {
        @include position($zIndex: -1);
        background-color: $dark-color;
        border: $btn-border-width solid transparent;
        @include transition(transform);
    }
    &:hover {
        color: $dark-color;
        background-color: $white;
        border-color: $dark-color;
        &::before {
            transform: scaleY(0);
        }
    }
}

.btn-outline {
    color: $dark-color;
    border-color: $dark-color;
    &::before {
        transform: scaleY(0);
    }
    &:hover {
        color: $white;
        background-color: transparent !important;
        border-color: transparent;
        &::before {
            transform: scaleY(1);
        }
    }
}

@include make-colors("btn") using ($name, $color) {
    color: if($color == $light-color, $primary-color, null);
    &:hover {
      border-color: $color;
    }
    &::before {
        background-color: $color;
        border-color: $color;
    }
    &:hover {
        color: $color;
        background-color: if($color == $light-color, $primary-color, null);
    }
    &.btn-outline {
        color: $color;
        border-color: $color;
        &:hover {
          border-color: transparent;
          color: if($color == $light-color, $primary-color, $white);
        }
    }
}
