@use "sass:color";
@use "sass:map";
@use "../tools" as *;

// Icons Variables
$icon-size: 30px !default;
$icon-radius: 50% !default;

.icon,
a.icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  border-radius: $icon-radius;
  line-height: $icon-size;
  font-size: inherit;
  text-align: center;
  color: $white;
  background-color: $gray;
  border-style: solid;
  border-width: $border-width;
  border-color: transparent;
  position: relative;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  @include transition(color);
  &::after {
    @include position($zIndex: -1);
    border-radius: $icon-radius;
    background-color: $white;
    transform: scale(0);
    @include transition(transform);
  }
  &:hover {
    color: $gray;
    border-color: $gray;
    &::after {
      transform: scale(2);
      background-color: $white;
    }
  }
  @each $name, $color in $colors {
    &.icon-#{$name} {
      background-color: $color;
      color: if(
        color.lightness($color) >= 50%,
        map.get($colors-reverse, $name),
        $white
      );
      &:hover {
        color: $color;
        border-color: $color;
        &::after {
          background-color: if(
            color.lightness($color) >= 50%,
            map.get($colors-reverse, $name),
            $white
          );
        }
      }
    }
  }
}
