@use "sass:color";
@use "sass:string";

// Colors
$white:             #fff !default;
$black:             #000 !default;
$gray-10:           color.scale($black, $lightness: 90%) !default;
$gray-30:           color.scale($black, $lightness: 70%) !default;
$gray:              color.scale($black, $lightness: 50%) !default;
$gray-70:           color.scale($black, $lightness: 30%) !default;
$gray-90:           color.scale($black, $lightness: 10%) !default;
$primary-color:     #a4c63b !default;
$secondary-color:   #343434 !default;
$light-color:       color.scale($white, $lightness: -3%) !default;
$dark-color:        $gray-70 !default;

// Colors Map
$colors: (
    "primary":      $primary-color,
    "secondary":    $secondary-color,
    "light":        $light-color,
    "dark":         $dark-color,
    "gray":         $gray,
    "white":        $white,
) !default;
$colors-reverse: (
    "primary":      $secondary-color,
    "secondary":    $primary-color,
    "light":        $dark-color,
    "dark":         $light-color,
    "gray":         $light-color,
    "white":        $gray-90,
) !default;

// Body Background
$body-bg: $white !default;
$body-color: $gray-90 !default;

// Fonts Size
$font-size-base:    16px !default;
$font-size-sm:      $font-size-base - 2 !default;
$font-size-md:      $font-size-base + 4 !default;
$font-size-lg:      $font-size-base + 10 !default;
$font-size-xl:      $font-size-base + 14 !default;

$font-weight-base:  400 !default;

// Line Height
$line-height-base:  1.2 !default;
$line-height-sm:    1 !default;
$line-height-md:    1.5 !default;
$line-height-lg:    2 !default;

// sizes
$size-base: 15px !default;
$size-sm:   10px !default;
$size-md:   20px !default;
$size-lg:   30px !default;
$size-xl:   40px !default;

// Gutters
$gutter-base:   $size-base !default;
$gutter-sm:     $size-sm !default;
$gutter-md:     $size-md !default;
$gutter-lg:     $size-lg !default;
$gutter-xl:     $size-xl !default;

// Borders & Border Radius
$border-width:      1px !default;
$border-color:      $gray-10 !default;
$border-primary:    $primary-color !default;
$border-secondary:  $secondary-color !default;
$border-light:      $light-color !default;
$radius-width:      $gutter-lg !default;

// z-index
$zIndex-to-up: 1000 !default;
$zIndex-navbar: 1010 !default;
$zIndex-fixed: 1020 !default;
$zIndex-modal: 1030 !default;

$navbar-height: null !default;

////// Classes
    // Overlay
    $overlay-bg:   color.scale($black, $alpha: -20%) !default;

    // Heading
    $heading-height:        null !default;
    $heading-overlay-bg:    color.scale($black, $alpha: -20%) !default;

    // To Up
    $to-up-size:    40px !default;
    $to-up-radius:  0 !default;

    $avatar-height: 60px !default;


////// Layout
    // Nav Top;
    $nav-top-height: 40px !default;

    // Main Sections
    $section-gutter: $gutter-xl !default;


// Grid System:
$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;
$grid-breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
) !default;

$container-max-widths: (
    "sm": 540px,
    "md": 720px,
    "lg": 960px,
    "xl": 1140px
) !default;


$chevron: (
    "left":     "\f053",
    "right":    "\f054",
    "up":       "\f077",
    "down":     "\f078"
) !default;

// Variables with RTL Direction
$rtl: false !default;

$font-name: if(not $rtl, string.unquote('"Segoe UI", Arial, sans-serif'), "Traditional Arabic") !default;
$left-dir: if(not $rtl, left, right);
$right-dir: if(not $rtl, right, left);
$plus-dir: if(not $rtl, "", "-");
$minus-dir: if(not $rtl, "-", "");
