@use "../tools" as *;
@use "../components/nav";

/* Style pages */
.page {
  section:not(.heading) {
    padding-top: $section-gutter * 2;
    padding-bottom: $section-gutter * 2;
  }
  // $nav-active-color: $secondary-color;
  // .nav-pills {
  //   @include media-up("lg") {
  //     width: 33.33%;
  //     flex-basis: 33.33%;
  //   }
  //   .nav-link {
  //     position: relative;
  //     border: 5px solid transparent;
  //     color: $secondary-color;
  //     background: $primary-color;
  //     background-clip: padding-box !important;
  //     &:hover:not(.active) {
  //       color: $white;
  //       background: $dark-color;
  //     }
  //     &.active {
  //       color: $white;
  //       background: $nav-active-color;
  //     }
  //     @include media-up("lg") {
  //       padding: $gutter-lg $gutter-md;
  //       border-radius: 0;
  //       font-size: $font-size-md;
  //       font-weight: bold;
  //       &::after {
  //         @include insert-chevron($right-dir);
  //         position: absolute;
  //         #{$right-dir}: $gutter-md;
  //         top: 50%;
  //         transform: translateY(-50%);
  //         @include transition;
  //       }
  //       &:hover:not(.active)::after {
  //         animation: hvr-icon-float 0.3s ease-in,
  //           hvr-icon-bob 1s ease-in-out 0.3s infinite;
  //       }
  //       &.active::after {
  //         font-size: $font-size-lg;
  //         animation-play-state: paused;
  //       }
  //     }
  //   }
  // }
  // .img-content img {
  //   max-width: 100%;
  // }

  // .contact-info {
  //   @include media-up("md") {
  //     display: flex;
  //     .item {
  //       width: 33.33%;
  //       flex-basis: 33.33%;
  //     }
  //   }
  //   .item {
  //     padding: $gutter-xl * 1.5 $gutter-base;
  //     border: $gutter-base solid transparent;
  //     text-align: center;
  //     background: $light-color;
  //     background-clip: padding-box;
  //     a {
  //       color: $primary-color;
  //       font-weight: bold;
  //       @include transition;
  //       &:hover {
  //         color: $secondary-color;
  //       }
  //     }
  //   }
  // }
  // .contact-form {
  //   margin-top: $gutter-xl;
  //   padding: $gutter-xl;
  //   background: $primary-color;
  // }
}

.post {
  :any-link {
    @include transition;
    &:hover {
      color: $primary-color;
    }
  }
  .post-img {
    max-width: max-content;
    height: 100%;
    margin: auto;
    margin-bottom: $gutter-base;
    .figure-img {
      position: relative;
      max-height: 100%;
    }
    figcaption {
      padding: $gutter-sm;
      background-color: $light-color;
      color: $dark-color;
    }
    img {
      width: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
    .overlay-bg {
      transition: opacity 0.5s ease-out;
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        font-size: $font-size-xl;
        color: $white;
        opacity: 0;
        transition: all 0.3s ease-out;
        &:hover {
          color: $primary-color;
        }
      }
      &::before, &::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        transform: scale(0);
        transform-origin: left top;
        transition: transform 0.5s ease-out;
      }
      &::before {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: scale(0, 1);
      }
      &::after {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: scale(1, 0);
      }
      &:hover {
        button {
          opacity: 1;
        }
        &::before, &::after {
          transform: scale(1);
          transition-delay: .15s;
        }
      }
    }
    @include media-up("md") {
      figcaption, img, .overlay-bg {
        max-width: 75%;
      }
    }
  }
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter-sm;
  border-bottom: $border-width solid $border-color;
  font-size: $font-size-sm;
  span {
    padding-top: $gutter-sm;
    padding-bottom: $gutter-sm;
    &:not(:last-child)::after {
      content: "|";
      padding-left: $gutter-sm;
      padding-right: $gutter-sm;
    }
    & i {
      margin-#{$right-dir}: $gutter-sm - 5;
    }
  }
}
